@media screen and (max-width: 480px) {
    .faq-card {
        width: 90%;
        height: auto;
        flex-direction: column;
        padding: 0 25px 50px;
        background-image: url('images/bg-pattern-mobile.svg');
        background-position: 50% 0%;
    }

    .img-block {
        height: 180px;
        min-width: 240px;
        background-image: url('images/illustration-woman-online-mobile.svg');
        background-position-x: 0;
        top: -110px;
    }

    .email-box-img {
        display: none;
    }

    .acc-block {
        margin-left: 0;
        padding-right: 0;
    }

    .acc-block h2 {
        text-align: center;
    }

    .toggle {
        font-size: 14px;
    }
}