/* Global styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

/* Global styles end */

.faq-card {
    height: 500px;
    width: 900px;
    border-radius: 20px;
    background-color: #fff;
    background: url('images/bg-pattern-desktop.svg') no-repeat;
    background-position: -590px -290px;
    margin: 125px auto;
    display: flex;
    align-items: center;
}


.img-block {
    height: 359px;
    min-width: 380px;
    background: url('images/illustration-woman-online-desktop.svg') no-repeat;
    background-position-x: -95px;
    position: relative;
}

.email-box-img {
    position: absolute;
    top: 130px;
    left: -93px;
    transition: transform 0.3s ease;
}

.email-box-img.move {
    transform: translateX(-30px);
}

.acc-block {
    margin-left: 75px;
    padding-right: 80px;
}

.acc-block h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
}

.toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: hsl(237, 12%, 33%);
    padding: 20px 0;
    transition: all 0.3s ease;
}

.toggle:hover {
    color: hsl(14, 88%, 65%);
}

.toggle.active {
    font-weight: 700;
}
.toggle.active > img {
    transform: rotate(180deg);
}
.toggle.active + .toggle-content {
    height: auto;
}

.toggle-content {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.toggle-content p {
    font-size: 14px;
    line-height: 22px;
    color: hsl(240, 6%, 50%);
    padding-bottom: 20px;
}